body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-19xl: 38px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f9fafb;
  --color-whitesmoke-200: #f8fafc;
  --color-whitesmoke-300: #eee;
  --color-gray-100: #1e293b;
  --color-gray-200: #222831;
  --color-gainsboro: #e3e7ee;
  --color-slategray: #6b7280;
  --color-dimgray: #566173;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-61xl: 80px;
  --padding-101xl: 120px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-45xl: 64px;
  --br-5xl: 24px;
  --br-9xs: 4px;
}
