{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coach Login</title>
  <link rel="stylesheet" href="{% static 'css/global_userlogin.css' %}">
  <link rel="stylesheet" href="{% static 'css/index_userlogin.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="final-coach-loginpage">
    <div class="typecentered-nav">
      <div class="brand">
        <img class="icon" alt="" src="{% static 'images/icon.svg' %}">
        <div class="brandname">LH Archery</div>
      </div>
    </div>
    <div class="property-1boxed">
      <div class="sign-up-container">
        <b class="sign-up-heading">Coach Login</b>
        <form method="post" action="coach_login">
          {% csrf_token %}
          <div class="copy-component">
            <div class="input">
              <div class="label">Username:</div>
              <input class="input-form" type="text" name="username">
            </div>
            <div class="form">
              <div class="input">
                <div class="label">Password:</div>
                <input class="input-form" type="password" name="password">
              </div>
              <button type="submit" class="coach-loginbutton">
                <div class="text-container">
                  <div class="cta">Coach Login</div>
                </div>
              </button>
            </div>
          </div>
        </form>
        <div class="by-continuing-you">
          By continuing you agree to our Terms of Service and Privacy Policy
        </div>
        <div>
          {% for message in messages %}
          <h3>{{message}}</h3>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
