{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global_coachportal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/view-fitness-details.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="view-fitness-details">
      <div class="typebubble-inverted">
        <div class="bubble-container">
          <div class="nav-links"></div>
          <div class="brand3">
            <img class="icon3" alt="" src="{% static 'images/icon.svg' %}" />

            <div class="brandname3">LH Archery</div>
          </div>
        </div>
      </div>
      <center>
        <br><br><br><br><br><br>
      <table border="1" align="left">
        <tr>
            <th>Archer ID</th>
            <th>Name</th>
            <th>No of Squats</th>
            <th>No of Burpees</th>
            <th>100 m Runtime</th>
            <th>Result</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.1 }}</td>
            <td>{{ row.0 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
        </tr>
        {% endfor %}
      </table>
      </center>
      <center>
        <br><br><br><br><br><br>
      <form action="coach_portal" method="POST">
        {% csrf_token %}
        <input type="submit" value="Ok">
      </form>
      </center>
    </div>
  </body>
</html>
